In [10]:
print("Hello World")

Hello World

In [11]:
c=1+2j

In [12]:
type(c)

complex

In [13]:
del (c)

In [14]:
print(c)

NameError: name 'c' is not defined

$a=b+c$

In [15]:
%whos

Variable   Type      Data/Info
------------------------------
np         module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>

In [16]:
b,c,d,e,f=1,14,-34,45.2,10

In [17]:
%whos

Variable   Type      Data/Info
------------------------------
b          int       1
c          int       14
d          int       -34
e          float     45.2
f          int       10
np         module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>

In [18]:
%whos

Variable   Type      Data/Info
------------------------------
b          int       1
c          int       14
d          int       -34
e          float     45.2
f          int       10
np         module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>

In [19]:
x=90

In [20]:
%whos

Variable   Type      Data/Info
------------------------------
b          int       1
c          int       14
d          int       -34
e          float     45.2
f          int       10
np         module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
x          int       90

In [21]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [22]:
s="How are you buddy"

In [23]:
s

'How are you buddy'

In [24]:
print(type(s))

<class 'str'>

In [25]:
type(s)

str

In [26]:
a="Sandeep"

In [27]:
a

'Sandeep'

In [28]:
_

'Sandeep'

In [29]:
b="New"

In [30]:
b

'New'

In [31]:
_

'New'

In [32]:
%whos

Variable   Type      Data/Info
------------------------------
a          str       Sandeep
b          str       New
c          int       14
d          int       -34
e          float     45.2
f          int       10
np         module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
s          str       How are you buddy
x          int       90

In [33]:
'a'>'A'

True

In [34]:
2!=3

True

In [35]:
not True and True and True

False

In [36]:
print(round(7.5))

8

In [37]:
divmod(24,5)

(4, 4)

In [38]:
divmod(2,1)

(2, 0)

In [39]:
isinstance(1,int)

True

In [40]:
pow(2,5)

32

In [41]:
pow(2,4,3)

1

In [42]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [43]:
l=[]
for i in range(10):
    print(i+1)
    l.append(i**2)
print(l)

1
2
3
4
5
6
7
8
9
10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
import numpy as np
"""Importing numpy for Numerical Analysis
"""

'Importing numpy for Numerical Analysis\n'

In [45]:
np?

In [46]:
len??

In [47]:
import sys

In [48]:
s="Sandeep"
a="Kumar"

In [49]:
print(type(a))

<class 'str'>

In [50]:
type(s)

str

In [51]:
a=np.array([1,2,3,4,5])
b=np.array([1,2,43,4,5])

In [52]:
np.intersect1d(a,b)

array([1, 2, 4, 5])

In [53]:
print(type(a))

<class 'numpy.ndarray'>

In [54]:
print(type(b))

<class 'numpy.ndarray'>

In [55]:
a.dtype

dtype('int32')

In [56]:
print(a.ndim)

1

In [57]:
print(b.ndim)

1

In [58]:
print(b.shape[0])

5

In [59]:
c=np.array([[[1,2,3],[4,5,0],12,6,7]])

C:\Users\sande\AppData\Local\Temp\ipykernel_29356\340799500.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  c=np.array([[[1,2,3],[4,5,0],12,6,7]])

In [60]:
c.ndim

2

In [61]:
c[0,1]

[4, 5, 0]

In [62]:
a=2
b=3
c=5

In [63]:
first=a
second=b
third=c

In [64]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [65]:
id(a)

1492472981840

In [66]:
a="Sandeep"

In [67]:
id(a)

1490946683568

In [68]:
x=1212431.315341

In [69]:
round(x)

1212431

In [70]:
round(x,4)

1212431.3153

In [71]:
10+2*3

16

In [72]:
(10+2)*3

36

In [73]:
6-5.7

0.2999999999999998

In [74]:
round(6-5.7,2)

0.3

In [75]:
name="Sandeep Kumar"

In [76]:
name[1]

'a'

In [77]:
name[7]

' '

In [78]:
name[3:11]

'deep Kum'

In [79]:
name[::]

'Sandeep Kumar'

In [80]:
name[0:]

'Sandeep Kumar'

In [81]:
address='''Jaipur, Rajasthan'''

In [82]:
address

'Jaipur, Rajasthan'

In [83]:
name1="Sandeep"
name2="Vivek"
name3="Shyam"
names=[name1,name2,name3]

In [84]:
names

['Sandeep', 'Vivek', 'Shyam']

In [85]:
names.append("Pandey")

In [86]:
names

['Sandeep', 'Vivek', 'Shyam', 'Pandey']

In [87]:
names.insert(1,"Anuj")

In [88]:
names

['Sandeep', 'Anuj', 'Vivek', 'Shyam', 'Pandey']

In [89]:
sid=[96674,90161,100365,99695,90765]

In [90]:
details=names+sid

In [91]:
details

['Sandeep',
 'Anuj',
 'Vivek',
 'Shyam',
 'Pandey',
 96674,
 90161,
 100365,
 99695,
 90765]

In [92]:
len(details)

10

In [93]:
"Sandeep" in details

True

In [94]:
"Kuldeep" in details

False

In [95]:
base=10
height=5
area=1/2*(base*height)

In [96]:
area

25.0

In [97]:
expense=[12,1224,14,1234,14,134,314,112]
total=0
for i in expense:
    total+=i
print(total)

3058

In [98]:
for i in expense:
    print("expense is: ",i)

expense is:  12
expense is:  1224
expense is:  14
expense is:  1234
expense is:  14
expense is:  134
expense is:  314
expense is:  112

In [99]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [100]:
for i in range(len(expense)):
    print('Month:',(i+1),"Expense:",expense[i])

Month: 1 Expense: 12
Month: 2 Expense: 1224
Month: 3 Expense: 14
Month: 4 Expense: 1234
Month: 5 Expense: 14
Month: 6 Expense: 134
Month: 7 Expense: 314
Month: 8 Expense: 112

In [101]:
for i in range(1,50):
    if i%2==0 and i%3==0:
        print(f"The number {i} is divisible by 2 and 3 both")
    if i%3==0 and i%5==0:
        print(f"The number {i} is divisible by 3 and 5 both")
    else:
        print(f"The number is {i}")

The number is 1
The number is 2
The number is 3
The number is 4
The number is 5
The number 6 is divisible by 2 and 3 both
The number is 6
The number is 7
The number is 8
The number is 9
The number is 10
The number is 11
The number 12 is divisible by 2 and 3 both
The number is 12
The number is 13
The number is 14
The number 15 is divisible by 3 and 5 both
The number is 16
The number is 17
The number 18 is divisible by 2 and 3 both
The number is 18
The number is 19
The number is 20
The number is 21
The number is 22
The number is 23
The number 24 is divisible by 2 and 3 both
The number is 24
The number is 25
The number is 26
The number is 27
The number is 28
The number is 29
The number 30 is divisible by 2 and 3 both
The number 30 is divisible by 3 and 5 both
The number is 31
The number is 32
The number is 33
The number is 34
The number is 35
The number 36 is divisible by 2 and 3 both
The number is 36
The number is 37
The number is 38
The number is 39
The number is 40
The number is 41
The number 42 is divisible by 2 and 3 both
The number is 42
The number is 43
The number is 44
The number 45 is divisible by 3 and 5 both
The number is 46
The number is 47
The number 48 is divisible by 2 and 3 both
The number is 48
The number is 49

In [102]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\sande\anaconda3\lib\site-packages (1.23.5)

In [103]:
import numpy as np

In [104]:
np.array([1,2,3])

array([1, 2, 3])

In [105]:
np.array([1,2,3.7],dtype=int)

array([1, 2, 3])

In [106]:
np.array([1,2,3.7],dtype=float)

array([1. , 2. , 3.7])

In [107]:
np.array([[1,2,3],[4,5,6]])

array([[1, 2, 3],
       [4, 5, 6]])

In [108]:
np.full((2,2),"Sandeep")

array([['Sandeep', 'Sandeep'],
       ['Sandeep', 'Sandeep']], dtype='<U7')

##### Creating a `Zero Matrix` with defining their `Dimension`

In [109]:
np.zeros((2,2),dtype=int)

array([[0, 0],
       [0, 0]])

##### Creating `One-dimensional` array with `1`

In [110]:
np.ones((7),dtype=int)

array([1, 1, 1, 1, 1, 1, 1])

##### Creating an `Identity` with defining the `Data Type`

In [111]:
np.eye((4),dtype=complex)

array([[1.+0.j, 0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 1.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 1.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j, 1.+0.j]])

In [113]:
number=input("First Number") #23
number2=input("Second Number") #27
print(number+number2)

First Number23
Second Number27
2327

##### Creating an `identity` Matrix

In [114]:
import numpy as np
np.eye((4),dtype=float)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

##### Creating a matrix with all `Zero Valued Element`

In [120]:
mat=np.zeros((3,3),dtype=float)

In [121]:
mat

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

##### Returning the `Dimension` of the  Matrix

In [124]:
np.ndim(mat)

2

In [125]:
np.abs(23.2432)

23.2432

##### Returning the `Absolute Value`

In [126]:
np.absolute(23.2432)

23.2432

##### Adding two element

In [139]:
np.add(234,23)

257

##### Calculating the `max` element in a  List

In [133]:
np.amax([12,14,1234])

1234

##### Calculating `average` of List

In [135]:
np.average([123,123,41234,124,1234,1234,231])

6329.0

In [141]:
d={"Sandeep":96674,"Pandey":90765,"Vivek":100365}

In [142]:
d

{'Sandeep': 96674, 'Pandey': 90765, 'Vivek': 100365}

In [145]:
d.items()

dict_items([('Sandeep', 96674), ('Pandey', 90765), ('Vivek', 100365)])

In [147]:
d['Sandeep']

96674

In [148]:
d['Shyam']=99695

In [149]:
d

{'Sandeep': 96674, 'Pandey': 90765, 'Vivek': 100365, 'Shyam': 99695}

In [150]:
del d["Vivek"]

In [151]:
d

{'Sandeep': 96674, 'Pandey': 90765, 'Shyam': 99695}

In [152]:
for key in d:
    print("key:",key,"Value:",d[key])

key: Sandeep Value: 96674
key: Pandey Value: 90765
key: Shyam Value: 99695

In [153]:
for k,v in d.items():
    print('Key:',key,"Value:",d[key])

Key: Shyam Value: 99695
Key: Shyam Value: 99695
Key: Shyam Value: 99695

In [155]:
"Sandeep"in d

True

In [157]:
point=(1,2,34,4,1)

In [158]:
point[1]

2

In [159]:
id(point[0])

1492472981808

In [160]:
id(point[4])

1492472981808

In [161]:
id(point[3])

1492472981904

In [162]:
import math

In [163]:
math.sqrt(2)

1.4142135623730951

In [164]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [165]:
import calendar

In [167]:
cal=calendar.month(2016,1)

In [168]:
cal

'    January 2016\nMo Tu We Th Fr Sa Su\n             1  2  3\n 4  5  6  7  8  9 10\n11 12 13 14 15 16 17\n18 19 20 21 22 23 24\n25 26 27 28 29 30 31\n'

In [169]:
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [175]:
book={}
book["Sandeep"]={
    'name':"Sandeep",
    'SID':96674,
    'Course':"B.Tech"
}
book["Pandey"]={
    'name':"Pandey",
    'SID':90765,
    'Course':"B.Tech"
}
book["Vivek"]={
    'name':"Vivek",
    'SID':100365,
    'Course':"B.Tech"
}
book["Shyam"]={
    'name':"Shyam",
    'SID':99695,
    'Course':"B.Tech"
}
book["Ujjawal"]={
    'name':"Ujjawal",
    'SID':100087,
    'Course':"B.Tech"
}
book["Rahul"]={
    'name':"Rahul",
    'SID':90163,
    'Course':"B.Tech"
}
book["Anuj"]={
    'name':"Anuj",
    'SID':90161,
    'Course':"B.Tech"
}

In [176]:
import json

In [177]:
s=json.dumps(book)

In [178]:
s

'{"Sandeep": {"name": "Sandeep", "SID": 96674, "Course": "B.Tech"}, "Pandey": {"name": "Pandey", "SID": 90765, "Course": "B.Tech"}, "Vivek": {"name": "Vivek", "SID": 100365, "Course": "B.Tech"}, "Shyam": {"name": "Shyam", "SID": 99695, "Course": "B.Tech"}, "Ujjawal": {"name": "Ujjawal", "SID": 100087, "Course": "B.Tech"}, "Rahul": {"name": "Rahul", "SID": 90163, "Course": "B.Tech"}, "Anuj": {"name": "Anuj", "SID": 90161, "Course": "B.Tech"}}'

In [179]:
with open("book.txt",'w') as f:
    f.write(s)

In [181]:
f=open('book.txt','r')

In [182]:
s=f.read()

In [183]:
s

'{"Sandeep": {"name": "Sandeep", "SID": 96674, "Course": "B.Tech"}, "Pandey": {"name": "Pandey", "SID": 90765, "Course": "B.Tech"}, "Vivek": {"name": "Vivek", "SID": 100365, "Course": "B.Tech"}, "Shyam": {"name": "Shyam", "SID": 99695, "Course": "B.Tech"}, "Ujjawal": {"name": "Ujjawal", "SID": 100087, "Course": "B.Tech"}, "Rahul": {"name": "Rahul", "SID": 90163, "Course": "B.Tech"}, "Anuj": {"name": "Anuj", "SID": 90161, "Course": "B.Tech"}}'

In [184]:
import json
record=json.loads(s)

In [185]:
record

{'Sandeep': {'name': 'Sandeep', 'SID': 96674, 'Course': 'B.Tech'},
 'Pandey': {'name': 'Pandey', 'SID': 90765, 'Course': 'B.Tech'},
 'Vivek': {'name': 'Vivek', 'SID': 100365, 'Course': 'B.Tech'},
 'Shyam': {'name': 'Shyam', 'SID': 99695, 'Course': 'B.Tech'},
 'Ujjawal': {'name': 'Ujjawal', 'SID': 100087, 'Course': 'B.Tech'},
 'Rahul': {'name': 'Rahul', 'SID': 90163, 'Course': 'B.Tech'},
 'Anuj': {'name': 'Anuj', 'SID': 90161, 'Course': 'B.Tech'}}

In [186]:
type(record)

dict

In [187]:
record["Sandeep"]

{'name': 'Sandeep', 'SID': 96674, 'Course': 'B.Tech'}

In [189]:
for person in record:
    print(record[person])

{'name': 'Sandeep', 'SID': 96674, 'Course': 'B.Tech'}
{'name': 'Pandey', 'SID': 90765, 'Course': 'B.Tech'}
{'name': 'Vivek', 'SID': 100365, 'Course': 'B.Tech'}
{'name': 'Shyam', 'SID': 99695, 'Course': 'B.Tech'}
{'name': 'Ujjawal', 'SID': 100087, 'Course': 'B.Tech'}
{'name': 'Rahul', 'SID': 90163, 'Course': 'B.Tech'}
{'name': 'Anuj', 'SID': 90161, 'Course': 'B.Tech'}

In [190]:
__name__

'__main__'

In [192]:
def calculate_area(base,height):
    return 1/2*(base*height)


if __name__=="__main__":
    a=calculate_area(10,20)
    print('area:',a)

area: 100.0

In [194]:
#raised error
1/0

ZeroDivisionError: division by zero

In [196]:
#reaised a type error
num1=input("Enter First number")
num2=input("Enter Second Number")
num1/num2

Enter First number10
Enter Second Number2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [197]:
class Human:
    def __init__(self,name):
        self.name=name
    def do_work(self):
        if self.name=="Sandeep":
            print(self.name,"Student")
        else:
            print("Other Occupation")

In [198]:
sandy=Human("Sandeep")

In [200]:
sandy.do_work()

Sandeep Student

In [201]:
sandy.name

'Sandeep'

In [202]:
vivek=Human("Vivek")

In [204]:
vivek.do_work()

Other Occupation

In [205]:
vivek.name

'Vivek'

In [206]:
a=[1,2,2,3,435,6,67,7,6,231,234]

In [212]:
a

[1, 2, 2, 3, 6, 6, 7, 67, 231, 234, 435]

In [213]:
for i in a:
    print(i)

1
2
2
3
6
6
7
67
231
234
435

In [218]:
a.sort()

In [220]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [221]:
itr=iter(a)

In [226]:
itr

In [227]:
next(itr)

1

In [228]:
next(itr)

2

In [229]:
itr2=reversed(a)

In [230]:
itr2

In [231]:
next(itr2)

435

In [232]:
next(itr2)

234

In [234]:
dir('yield')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [236]:
def fib():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b
for f in fib():
    if f>100:
        break
    print(f)

0
1
1
2
3
5
8
13
21
34
55
89

In [238]:
num=[1,2,34,54,5,35,631,3,43,121,13,414,31,1]

In [239]:
even=[]
for i in num:
    if i%2==0:
        even.append(i)

In [240]:
even

[2, 34, 54, 414]

In [242]:
#Comprehensive
even2=[i for i in num if i%2==0]

In [243]:
even2

[2, 34, 54, 414]

In [244]:
odd=[i for i in num if i%2 !=0]

In [245]:
odd

[1, 5, 35, 631, 3, 43, 121, 13, 31, 1]

In [248]:
sqr=[i*i for i in num]

In [249]:
sqr

[1, 4, 1156, 2916, 25, 1225, 398161, 9, 1849, 14641, 169, 171396, 961, 1]

In [251]:
s=set([1,2,3,4,5,6,2,5])

In [252]:
s

{1, 2, 3, 4, 5, 6}

In [253]:
ev={i for i in s if i%2==0}

In [254]:
ev

{2, 4, 6}

In [255]:
cities=['Mumbai','New York','Paris','Kolambo']
countries=['India','USA','France','Sri Lanka']

In [256]:
z=zip(cities,countries)

In [257]:
z

In [258]:
for i in z:
    print(i)

('Mumbai', 'India')
('New York', 'USA')
('Paris', 'France')
('Kolambo', 'Sri Lanka')

In [259]:
d={city:country for city,country in zip(cities,countries)}

In [260]:
d

{'Mumbai': 'India',
 'New York': 'USA',
 'Paris': 'France',
 'Kolambo': 'Sri Lanka'}

In [261]:
d={country:city for city,country in zip(cities,countries)}

In [262]:
d

{'India': 'Mumbai',
 'USA': 'New York',
 'France': 'Paris',
 'Sri Lanka': 'Kolambo'}

In [263]:
a={}

In [264]:
type(a)

dict

In [265]:
b={"Sandeep"}

In [266]:
type(b)

set

In [267]:
c={"Name":"Sandeep"}

In [268]:
type(c)

dict

In [4]:
!pip install pytest

Requirement already satisfied: pytest in c:\users\sande\anaconda3\lib\site-packages (7.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\sande\anaconda3\lib\site-packages (from pytest) (21.4.0)
Requirement already satisfied: iniconfig in c:\users\sande\anaconda3\lib\site-packages (from pytest) (1.1.1)
Requirement already satisfied: packaging in c:\users\sande\anaconda3\lib\site-packages (from pytest) (21.3)
Requirement already satisfied: pluggy<2.0,>=0.12 in c:\users\sande\anaconda3\lib\site-packages (from pytest) (1.0.0)
Requirement already satisfied: py>=1.8.2 in c:\users\sande\anaconda3\lib\site-packages (from pytest) (1.11.0)
Requirement already satisfied: tomli>=1.0.0 in c:\users\sande\anaconda3\lib\site-packages (from pytest) (1.2.2)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\sande\anaconda3\lib\site-packages (from pytest) (1.4.0)
Requirement already satisfied: colorama in c:\users\sande\anaconda3\lib\site-packages (from pytest) (0.4.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\sande\anaconda3\lib\site-packages (from packaging->pytest) (3.0.4)

In [5]:
import numpy as np

In [6]:
a=np.array([12,23,324,235,135,15,16])

In [7]:
a

array([ 12,  23, 324, 235, 135,  15,  16])

In [8]:
type(a)

numpy.ndarray

In [9]:
import time
import sys

In [10]:
l=range(1000)
print(sys.getsizeof(5)*len(l))

28000

In [11]:
array=np.arange(1000)
print(array.size*array.itemsize)

4000

In [12]:
size=1000

In [13]:
l1=range(size)
l2=range(size)

a1=np.arange(size)
a2=np.arange(size)

start=time.time()
result=[(x+y) for x,y in zip(l1,l2)]
print("Time taken by the list",(time.time()-start)*1000)
start=time.time
result=